.newPost {
  background: black;
  border-radius: 9999px;
  padding: .3rem;
  margin: 0 .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
  border: 0;
  font-weight: 900;
}
.newPost:hover {
  box-shadow: 0px 0px 2px 1px rgb(0, 0, 0) !important;
  transition: 0.2s;
}

.spanBtnLink{
  display: none;
}
.btnLink{
  cursor: pointer;
}
.btnLink:hover{
  background-color: black !important;
  color: white !important;
  transition: 0.4s;
}
.spanBtn{
  display: none;
}


@media (min-width: 768px)  {

  .spanBtnLink{
    display: inline-block;
    text-shadow:  0 0 1px black;
  }
  .svgBtn {
    display: none;
  }

  .spanBtn{
    display: block;
  }

  
}

