.newPost {
  background: black;
  border-radius: 9999px;
  padding: .3rem;
  margin: 0 .4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-size: 1rem;
  border: 0;
  font-weight: 900;
}
.spanBtnLink{
  display: none;
}
.btnLink{
  cursor: pointer;
}
.spanBtn{
  display: none;
}

@media (min-width: 768px)  {

  .spanBtnLink{
    display: inline-block;
    text-shadow:  0 0 1px black;
  }
  .svgBtn {
    display: none;
  }

  .spanBtn{
    display: block;
  }

  
}

